script: |
            mkdir -p ~/my_app
            cd ~/my_app
            echo "<h1>DevOps Success!</h1><p>Deploy date: $(date)</p>" > index.html
            echo "FROM nginx:alpine
            COPY index.html /usr/share/nginx/html/index.html" > Dockerfile
            
            sudo docker build -t my-site-image .
            
            # Очистка портов и старых контейнеров
            sudo docker stop my-website || true
            sudo docker rm -f my-website || true
            
            # Запуск (форсируем очистку порта перед стартом)
            sudo docker run -d --name my-website -p 80:80 my-site-image
