name: Deploy Website
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
         script: |
            mkdir -p ~/my_app
            cd ~/my_app
            echo "<h1>DevOps Success!</h1><p>Deploy date: $(date)</p>" > index.html
            echo "FROM nginx:alpine
            COPY index.html /usr/share/nginx/html/index.html" > Dockerfile
            
            sudo docker build -t my-site-image .
            
            # Останавливаем и УДАЛЯЕМ старый контейнер, чтобы освободить порт
            sudo docker rm -f my-website || true
            
            # Запускаем новый
            sudo docker run -d --name my-website -p 8080:80 my-site-image
