name: Deploy Website
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # 1. Заходим в папку
            mkdir -p ~/my_app
            cd ~/my_app

            # 2. Обновляем файлы
            echo "<h1>DevOps Success! CI/CD is Alive!</h1><p>Last Update: $(date)</p>" > index.html
            echo "FROM nginx:alpine
            COPY index.html /usr/share/nginx/html/index.html" > Dockerfile

            # 3. Собираем образ
            sudo docker build -t my-site-image .

            # 4. ЖЕСТКАЯ ОЧИСТКА ПОРТА 80
            # Останавливаем обычный nginx, если он запущен в системе
            sudo systemctl stop nginx || true
            sudo systemctl disable nginx || true
            # Убиваем любой процесс на 80 порту (на всякий случай)
            sudo fuser -k 80/tcp || true
            
            # 5. Удаляем старый контейнер
            sudo docker rm -f my-website || true

            # 6. Запускаем новый контейнер
            sudo docker run -d --name my-website -p 80:80 my-site-image
